.checkout {
  background-color: #fff;
  height: 150px;
  width: 950px;
  padding-top: 25px;
  font-size: 20px;
  border-radius: 5px;

  box-shadow: 0px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.4);
}
.flexcheckout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
}

.flexSummary {
  position: absolute;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 99;
}
.subSummary {
  position: relative;
  margin-top: 90px;
  padding-left: 25px;
  height: 240px;
  width: 678px;
  background-color: #fff;
  z-index: 99;
  border-radius: 5px;
}
.butt {
  height: 38px;
  width: 180px;
  padding: 0;
  margin: 15px;
  border-radius: 5px;
  border-width: 0;
  background-color: #3f51b5;
  color: #fff;
  display: inline-block;
  box-shadow: 0px 1.5px 2px 1px rgba(0, 0, 0, 0.4);
}

.button1 {
  border-radius: 5px;
  width: 65px;
  height: 35px;
  display: inline-block;
  box-shadow: 0px 1.5px 2px 1px rgba(0, 0, 0, 0.3);
  background: #303f9f;
  padding-top: 9px;
}
.button2 {
  border-radius: 5px;
  display: inline-block;
  width: 65px;
  height: 35px;
  margin-left: 10px;
  box-shadow: 0px 1.5px 2px 1px rgba(0, 0, 0, 0.3);
  background: #F70C08;
  padding-top: 9px;
}
@media (max-width: 969px) {
  .checkout {
    background-color: #fff;
    height: 150px;
    width: 650px;
    padding-top: 25px;
    font-size: 20px;
    border-radius: 5px;

    box-shadow: 0px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.4);
  }
}
@media (max-width: 670px) {
  .checkout {
    background-color: #fff;
    height: 150px;
    width: 430px;
    padding-top: 25px;
    font-size: 20px;
    border-radius: 5px;

    box-shadow: 0px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.4);
  }
}
@media (max-width: 720px) {
  .subSummary {
    position: relative;
    margin-top: 90px;
    padding-left: 25px;
    height: 240px;
    width: 470px;
    background-color: #fff;
    z-index: 99;
    border-radius: 5px;
  }
  .button2 {
    border-radius: 5px;
    display: inline-block;
    width: 65px;
    height: 35px;
    margin-left: 10px;
    box-shadow: 0px 1.5px 2px 1px rgba(0, 0, 0, 0.3);
    background: #F70C08;
    padding-top: 9px;
    margin-right: 15px;
  }
}
@media (max-width: 490px) {
  .subSummary {
    position: relative;
    margin-top: 90px;
    padding-left: 25px;
    height: 240px;
    width: 400px;
    background-color: #fff;
    z-index: 99;
    border-radius: 5px;
  }
}
