.menu {
  background-color: #fafafa;
  display: grid;
  padding: 25px 50px 20px 120px;
  flex-direction: row;
  grid-template-columns: 0.6fr 0.6fr 0.6fr;
}
.cart {
  position: relative;
  margin: 20px 20px 20px 20px;
  height: 350px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}
.incdec {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

@media (max-width: 1200px) {
  .menu {
    background-color: #fafafa;
    display: grid;
    padding: 25px 5px 20px 40px;
    flex-direction: row;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
  }
}
@media (max-width: 1120px) {
  .menu {
    background-color: #fafafa;
    display: grid;
    padding: 25px 0px 20px 0px;
    place-items: center;
    flex-direction: row;
    grid-template-columns: 0.5fr 0.5fr;
  }
}

@media (max-width: 680px) {
  .menu {
    background-color: #fafafa;
    display: grid;
    padding: 25px 0px 20px 0px;
    place-items: center;
    flex-direction: row;
    grid-template-columns: 1fr;
  }
}
